<!DOCTYPE html>

<html>  
	<body style="background-image:url('C:/Users/Srile_000/Desktop/JustTrying/bg2.jpg')" text="brown">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <title>Movie Recommender</title>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	
    </head>
    <body style="background-color:#fff; margin: 0px;">
        <table id="container" name="container" border="0" width="100%" align="center" cellpadding="0" cellspacing="0">
            <tr id="header" name="header"><td> 
	 <h1 align="center" text="white">DOORDARSHAN</h1> 


<!DOCTYPE html>


<html>
    <head>
	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <title>Header</title>
        <link rel="stylesheet" type="text/css" href="/srmclb/CSS/sm/CSS/Header.css">
    </head>
    <body style="">
        <div id="header" style="height: 90px;">
            <div class="image">
                <div style="height: 90px; width: 100%;background-color: #3b679e; background-image:url('/srmclb/Images/sm/Images/header1.jpg');"></div>
                
                
                 

            </div>

        </div>

    </body>
</html>
 </td> </tr>
            <tr id="empty1" name="empty"><td>  

  
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Empty bar</title>
        <link rel="stylesheet" type="text/css" href="/srmclb/CSS/sm/CSS/menubar.css">
    </head>
    <body>
      <!--  <div class="empty">
             <img id="emptybar" style="height: 30px;width: 100%; background-image: url(/srmclb/Images/sm/Images/emptybar.JPG);">  
            
        </div>-->
    </body>
</html>
</td> </tr>
            <tr id="body" name="body">
                <td>
                    <table background="/srmclb/Images/sm/Images/srm_arch.jpg" style=" background-size: 1200px 510px;" width="100%" height="512" border="0" cellpadding="0" cellspacing="0" style="background-color: #CFEBFD"> 
                        <tr>

                            <td>     


   




<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Recommender</title>
        <script type="text/javascript" src="/srmclb/js/sm/js/jquery.min.new.js"></script>
        <script type="text/javascript" src="/srmclb/js/sm/js/jquery.new.js"></script>
        <script type="text/javascript" src="/srmclb/js/sm/js/jquery-calendar.js"></script>
        <script type="text/javascript" src="/srmclb/js/sm/js/ui.datepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="/srmclb/CSS/sm/CSS/jquery-calendar.css">
        <link rel="icon" type="image/x-icon" href="/srmclb/Images/sm/Images/favicon.ico"> 
        <style type="text/css">
            .box{
                background-image:url(/srmclb);
                background-repeat:no-repeat;
                width:398px;
                height:189px;
            }
            p
            {
                text-align:justify;
                font-family:arial;
                font-size:12px;
                font-weight:bold;
                padding-left:20px;
                padding-right:30px;
                line-height: 20px;
            }
            h3
            {
                padding-left:20px;
                font-family:arial;
                font-size: 14px;
                font-weight: bold;
                color: #000;

            }
            body
            {
                font-family:arial;
            }
            .button_new a{color: #fff; font-size: 12px; font-weight: bold; background-color: #0086c4; padding: 10px 15px 10px 15px; margin-left: 20px; text-decoration: none; }
            .button_new a:hover{background-color: #303030; }

            .button {
                WIDTH: 90px; HEIGHT: 32px; background:#0086c4; color:#fff;
                outline:none;border:1px;border-radius:0px; font-weight: bold; border-color:#0c477f ;
            }
            .button:hover {
                background:#303030;border-radius:0px;
                color:#fff; 
            }
            .buttonclr{background:#303030;}
            .ibox
            {
                BORDER-TOP: #5e65f7 1px solid; 
                BORDER-RIGHT: #5e65f7 1px solid;
                BORDER-BOTTOM: #5e65f7 1px solid; 
                BORDER-LEFT: #5e65f7 1px solid;
                padding:4px;
            }
            label
            {
                font-size:12px;
            }

            .box_login_1{

                -moz-box-shadow:0px 0px 7px 0px #CCC; 
                -webkit-box-shadow: 0px 0px 7px 0px #CCC;
                box-shadow: 0px 0px 7px 0px #CCC;
                background-repeat:no-repeat; 
                background-color: #fff;

            }
            h4{font-size: 14px;}

        </style>
        <script type="text/javascript">
            function loginform()
            {
                var capth ="";
                var username = document.getElementById("accountname").value;
                //var password = document.getElementById("date-picker").value;
                var password = document.getElementById("password").value;
                
        try { 
             capth = document.getElementById("capth").value;
        } catch(e){
            capth = 0;
        }
        
        
        //alert("username.."+username +" password.."+password);
                if (username == null || username == "" || username == "Username" || username == "Registration No/Student Id")
                {
                    alert("Please enter valid Login ID");
                    document.getElementById("accountname").focus();
                    return;
                }
                 if (password == null || password == "" || password == "Password" || password == "Date of Birth(dd/mm/yyyy)")
                {
                    alert("Please enter valid Password");
                    document.getElementById("password").focus();

                    return;
                }

                if(capth!=0){
                    if (capth == null || capth == "" || capth == "Enter Captcha" )
                    {
                        alert("Please enter valid Captcha");
                        document.getElementById("capth").focus();
                        return;
                    }
                }

                document.getElementById("hid").value = 1;
                document.getElementById("loginform1").submit();
            }

            function clearText(thefield) {
                if (thefield.defaultValue == thefield.value)
                    thefield.value = ""
            }
            function showlabelusername(thefield) {
                if (thefield.value == "")
                    thefield.value = ""
            }

            function showlabelpassword(thefield) {
                if (thefield.value == "")
                    thefield.value = ""
            }
            function forgotPasswordRedirect() {
                var location = 'Homepage.jsp';
                document.loginform1.action = location;
                document.loginform1.submit();
            }
        </script>
        <script>
            function callCaldendar()
            {
                document.getElementById("date-picker").focus();
            }
        </script>
        <script>
            /*$(document).ready(function (){
             $("#date-picker").calendar();
             $("#calendar2_alert").click(function(){alert(popUpCal.parseDate($('#calendar2').val()))});
             });*/

            jQuery(document).ready(function($) {
                //you can now use $ as your jQuery object.
                $("#date-picker").calendar();
                $("#calendar2_alert").click(function() {
                    alert(popUpCal.parseDate($('#calendar2').val()))
                });
            });
            
                                function funPlaceHolder(obj,evt,val)
                                {if(evt==1){if(obj.value!=val && obj.value!='' && obj.value==null ){ obj.value = obj.value;}else if(obj.value=='' || obj.value==null || obj.value==val || obj.value==val  ){obj.value = val;  }}else if(evt==2){if(obj.value!=val){obj.value = obj.value;}else{obj.value = "";  }}returnValues=true;}
                                
                                function funChange(id) {document.getElementById(id).style.border = "";}
        </script>

	<style>
            .calimg{
                vertical-align: middle;
                margin-left: -28px; }
            
            </style>
        </head>
        
        <body>            
            <div class="row">
         

            
                <table border='0' cellapscing='5' cellpadding='5' align='center' width='100%' style='padding-top:80px'>
                        
            
                <tr>
                    <td>

                        <table width="345" height="240"  border="0" cellpadding="0" cellspacing='0' class="box_login_1" style="margin-left: 11%">
                            <tr bgcolor="e5f3f9 ">
                                <td align="left" valign="middle" height=""  bgcolor="e5f3f9">
                                    <h3>Special Features :</h3>
                                </td>
                            </tr>

                            <tr bgcolor="e5f3f9 ">

                                <td align="left" valign="top" bgcolor="e5f3f9">

                                    <p>
                                        1. Stream New Videos based on your Viewing History.<font style="font-weight: bolder"></font><br>
                                    </p>
                                    	
                                    <p>
                                        2. Get Video Recommendations based on what similar users have viewed.
                                    </p>
				
                                   <p>
                                        <b>All you need to do :</b></br> 1. Log in by entering your details beside and view for free.</a>
                                        </br>2. If you don't have an account yet, Sign Up by entering your details. <a href="MainPass.html"><br><t align="centre">SIGN UP</a>
				   </p>
				
				   
                                </td> 
                            </tr>


                            <tr bgcolor="e5f3f9">

                                <td align="left" valign="top" >

                                    <div class="button_new" ><br />
                                        <!--<a href="http://www.srmuniv.ac.in/downloads/user_manual_for_SRM_feekart.pdf" target="_blank">User Guide</a>                                    -->
                                    </div>                                    
                                </td>
                            </tr>



                            <tr bgcolor="e5f3f9">
                                <td align="center" ></td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <form id="loginform1" name="loginform1" autocomplete="off" method="post" action="">
                            
                            <table width="345" height="270"  border="0" cellpadding="0" cellspacing='0'  class="logintable box_login_1" style="margin-right: 12%"> 
                                


                                <!-- <tr>
                                     <td>             
                                         <table id="login" width="134" height="149">
                                             <tr>
                                                 <td style="background: transparent"/></td> 
                                             </tr>
                                         </table>    
                                     </td>
                                 </tr>--->
                                
                                <tr bgcolor="e5f3f9"> 
                                    <td height="40" colspan="2" valign="left" align="center"><h3>Login</h5>
                                        
                                    </td> 
                                </tr>
                                

                                <tr bgcolor="e5f3f9">
                                    <td  align="right"><label>Login ID</label></br></br></td>  
                                    <td align="center" height="40"> 
                                        <input type="text" value="" name="accountname" class="ibox" size= "28" id ="accountname"  onFocus="clearText(this)" onBlur="showlabelusername(this)"/>
                                        </br> 
                                    </td>
                                </tr>
                                <tr bgcolor="e5f3f9" >
                                    <td height="40"  align="right"><label>Password</label></td>

                                    <td height="26" align="center">
                                        <!--<input type="text" value="" name="password" class="ibox" size= "28" id="date-picker" onFocus="clearText(this)" onKeyDown="if(event.keyCode == 13){loginform()}" onBlur="showlabelpassword(this)"/> -->
                                        <input type="password" name="password" value="" id="password" class="ibox" size= "28" onFocus="clearText(this)" onKeyDown="if (event.keyCode == 13) {
                                            loginform()
                                        }" onBlur="showlabelpassword(this)"/>      
                                       <!--<img class="calimg" src="/srmclb/Images/sm/Images/calendar-blue.png" onclick="callCaldendar();"/>-->
                                    </td>

                                </tr>         
                                
                                <tr bgcolor="e5f3f9">
                                    <td align="center" colspan="2">
					<input type = "button" class = "button"  value="Login"  onClick="loginform()"/> &nbsp;
					<input name= "reset" type="reset" value="Reset" class="button" />
					<form>
						<br><button style="height:20px;width:500px" formaction="upload.html"></button>
					</form>	
									
					 <script language="javascript" type="text/javascript">
     					
     					  window.setTimeout('window.open("http://127.0.0.1:5000","newsite")',4500);
     					 
 					 </script>

                                        <input name= "hid" id="hid" type="hidden" value="0" />


                                        <input name= "enchid" id="enchid" type="hidden" value="5caa6cac17e8d9972b498e168ee13824ea4c28d7005f9cc0c2ce445354e5536af51a65a5ef29aa9289f48c4916e1c5f03d2aae40b2c143769beff4ed3a68f580203cda7082e61ea3c7b5ae58520c35f577d802fc792210cc009d6ecb9c0a5f04566ff25d5375ebce405847e249a489592cdf6acbbc59d18131ca19d934c0d0653a6b747d217021eeaaba6ee370d9dde7d04e0263b5e1aaa4bfb0b7b3d56e4168" />
                                        <input name= "enchip" id="enchip"  type="hidden" value="9df2dfbf04ff8c483ca0b57007e8298b35aa1f9aadb54da96f99d93102dc2c21" />


                                        <div id="divcontent" name="divcontent"></div>

                                    </td>  
                                </tr> 

                               
                                    
                            </table>
                    </td>
                </tr>

                
                <tr>
                    <td colspan="2">
                       
                        </form>
                    </td></tr> 

            </table>

        </div>	
    </body>
</html>
